{% extends "base.html" %}
{% load static %}

{% block title %}
    Shopping cart
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">상품이미지</th>
                <th scope="col">상품</th>
                <th scope="col">수량</th>
                <th scope="col">삭제하기</th>
                <th scope="col">상품가격</th>
                <th scope="col">가격</th>
            </tr>
        </thead>
        <tbody>
        {% for product in cart %}
            {% with item=product.item %}
            <tr>
                <th scope="row">
                    <a href="{{ item.get_absolute_url }}">
                        <img src="{{ item.item_image.url }}" class="img-thumbnail">
                    </a>
                </th>
                <td>{{ item.item_name }}</td>
                <td>
                    <form action="{% url 'cart:item_add' item.id %}" method="post">
                        {{ product.quantity_form.quantity }}
                        {{ product.quantity_form.is_update }}
                        <input type="submit" class="btn btn-primary" value="수정">
                        {% csrf_token %}
                    </form>
                </td>
                <td><a href="{% url 'cart:item_remove' item.id %}">삭제</a></td>
                <td class="num">{{ product.item_price }}원</td>
                <td class="num">{{ product.total_price }}원</td>
            </tr>
            {% endwith %}
        {% endfor %}

        {% if cart.coupon %}
            <tr class="subtotal">
                <td>제품 가격 합계</td>
                <td colspan="4"></td>
                <td >{{ cart.get_item_total }}원</td>
            </tr>
            <tr>
                    <td>{{ cart.coupon.code }} 쿠폰 할인가: {{ cart.coupon.amount }}원</td>
                <td colspan="4"></td>
                <td >- {{ cart.get_discount_total }}원</td>
            </tr>
        {% endif %}

        <tr class="total">
            <td>합계 금액 + 배송비(2500원)</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price}}원</td>
        </tr>
        </tbody>
    </table>
    <p>쿠폰 입력 </p>
    <form action='{% url "coupon:add" %}' method="post">
        {{ add_coupon }}
        <input type="submit" value="Add">
        {% csrf_token %}
    </form>

    <p class="text-right">
        <a href='{% url "shop:item_all" %}' class="btn btn-secondary">계속 쇼핑하기</a>
        <a href='{% url "orders:order_create" %}' class="btn btn-primary">구매하기</a>
    </p>

{% endblock %}